# Node dependencies
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Local secrets (DO NOT COMMIT)
nrega-scraper.json
labour-sheet-key.json
creds.txt
*.base64
*.json

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

